Repository shahdivyank/r-parts, pull requests merged in 2023-04, with the labels that each got.

#33 Add Tailwind Colors
  tailwind.config.js
Labels: Ready for Review

#34 Added Fonts
  components/Hello.jsx
  package-lock.json
  package.json
  pages/_app.js
  tailwind.config.js
Labels: Ready for Review

#40 Added Cart Total
  components/CartItem.jsx
  components/CartItems.jsx
  components/CartTotal.jsx
  components/Navigation.jsx
  pages/index.js
  public/product.svg
  tailwind.config.js
Labels: Ready for Review, Shopping Cart

#41 Update Cart Item Text Sizes
  components/CartItem.jsx
Labels: Ready for Review, Shopping Cart

#42 added mika pic
  components/ProfileImage.jsx
  pages/index.js
  public/profile.svg
Labels: Ready for Review, Profile

#43 Lb rodrigo/footer
  components/Footer.jsx
  tailwind.config.js
Labels: Footer

#45 Created PurchasedItem and PurchasedItems
  components/PurchasedItem.jsx
  components/PurchasedItems.jsx
  components/SoldItem.jsx
  components/SoldItems.jsx
  pages/index.js
Labels: Ready for Review, Profile

#46 payment card info
  components/Payment.jsx
  pages/checkout.js
  public/creditcard.svg
Labels: Ready for Review, Checkout

#47 View Page
  components/Hello.jsx
  components/ViewClasses.jsx
  components/ViewDescription.jsx
  components/ViewImages.jsx
  components/ViewSpecifications.jsx
  package-lock.json
  package.json
  pages/_app.js
  pages/index.js
  pages/view/[id].js
Labels: Ready for Review, View

#53 created dashboard page while listening to ouda by hamid al shaeri
  pages/dashboard.js
Labels: Dashboard

#54 added banner to dashboard while listening to Panic Attack by Yellow Days
  components/SVGs/Banner.jsx
  pages/dashboard.js
Labels: Dashboard

#55 Main Landing
  components/SVGs/Gear.jsx
  components/SVGs/LandingSwoosh.jsx
  pages/index.js
  public/Gear.png
  public/Landing.svg
  tailwind.config.js
Labels: Landing

#56 added hover behavior
  components/Landing1.jsx
  components/Landing2.jsx
  components/Landing3.jsx
  components/SVGs/Gear.jsx
  components/SVGs/LandingSwoosh.jsx
  pages/index.js
  public/Landing3SVG.svg
Labels: Landing

#57 LANDING FINIHSEDDD
  components/Landing2.jsx
  components/Landing3.jsx
  components/Landing4.jsx
  pages/index.js
  public/ACM.svg
  public/Community.svg
  public/Gear.png
  public/Landing4.svg
  public/You.svg
Labels: Landing

#60 Gear Animation on Landing
  components/Footer.jsx
  components/Landing1.jsx
  components/Landing2.jsx
  components/Landing4.jsx
  public/Gear1.svg
  public/Landing.svg
  public/Landing4.svg
  public/Landing4Flow.svg
  public/ScrollArrow.svg
  styles/globals.css
Labels: Landing

#64 Create Cart Page
  components/CartItem.jsx
  components/CartItems.jsx
  components/CartTotal.jsx
  components/Navigation.jsx
  pages/cart.js
  public/product.svg
Labels: Shopping Cart

#65 changed direction of gear rotation for realism
  components/Landing1.jsx
  components/Landing4.jsx
  styles/globals.css
Labels: Landing

#67 Updated Font Weights Cause Bobby
  components/CartTotal.jsx
  components/Landing1.jsx
  components/Landing4.jsx
  pages/cart.js
Labels: Ready for Review, Shopping Cart

#68 Setup Firebase
  .github/workflows/pull_requests.yaml
  components/Navigation.jsx
  firebase.js
  package-lock.json
  package.json
  pages/market.js
Labels: Repository, Ready for Review

#74 Created info page
  components/Navigation.jsx
  components/SVGs/InfoBanner.jsx
  components/WhatIsRParts.jsx
  pages/info.js
Labels: Ready for Review, Info
