Repository shahdivyank/r-parts, pull requests merged in 2023-07, with the labels that each got.

#106 Finished What is Rparts component
  components/HowItWorks.jsx
  components/WhatIsRParts.jsx
  public/acm-logo-blue.png
  public/ucr-logo.png
Labels: Info

#104 Mgolwalla/maxavailable
  components/ViewDescription.jsx
Labels: Ready for Review, View

#102 details navigates to info page
  components/ViewDescription.jsx
Labels: Ready for Review, View

#105 Zorten/Create FAQ Component
  components/FAQ.jsx
  components/HowItWorks.jsx
  pages/info.js
Labels: Ready for Review, Info

#109 Add Product Name
  pages/view/[id].js
Labels: Ready for Review

#110 Make Checkout.js Spacing Tolerable
  components/CartItems.jsx
  components/CheckoutCart.jsx
  components/CheckoutCartItem.jsx
  components/CheckoutTotal.jsx
  components/Payment.jsx
  components/Schedule.jsx
  components/ViewDescription.jsx
  pages/checkout.js
Labels: Checkout

#111 Trash Items in Cart
  components/CartItem.jsx
  components/CartItems.jsx
Labels: Ready for Review, Shopping Cart

#113 diff types of payments toggle on click
  components/Payment.jsx
Labels: Ready for Review, Checkout

#115 Favicon + Flex Wrap on Sell
  components/AddPhoto.jsx
  components/SellPhoto.jsx
  pages/sell.js
  public/favicon.ico
Labels: Repository, Ready for Review, Sell
