Repository shahdivyank/r-parts, pull requests merged in 2023-05, with the labels that each got.

#78 Created 'How It Works' Component
  components/HowItWorks.jsx
  components/WhatIsRParts.jsx
  pages/info.js
Labels: Ready for Review, Info

#69 Sell Page
  components/AddPhoto.jsx
  components/Checkbox.jsx
  components/Footer.jsx
  components/Landing2.jsx
  components/Landing4.jsx
  components/Navigation.jsx
  components/SellPhoto.jsx
  package-lock.json
  package.json
  pages/sell.js
  public/PlusSign.svg
  public/UploadPhoto.svg
Labels: Do Not Merge, Sell

#85 Bobbyyy57/sell toggle
  components/Checkbox.jsx
  components/Navigation.jsx
  components/Popover.jsx
  package-lock.json
  package.json
  pages/sell.js
Labels: Ready for Review, Sell

#88 Error Pages Done
  pages/404.js
  pages/500.js
Labels: Repository, Ready for Review

#90 Mgolwalla/checkouttotal
  components/CheckoutCart.jsx
  components/CheckoutCartItem.jsx
  components/CheckoutTotal.jsx
  components/Payment.jsx
  components/Schedule.jsx
  pages/checkout.js
Labels: Ready for Review, Checkout
