Repository shahdivyank/r-parts, pull requests merged in 2024-02, with the labels that each got.

#232 Small Issues
  src/components/Footer.jsx
  src/components/info/Info.jsx
  src/components/market/Item.jsx
Labels: Footer, Ready for Review, Frontend, Info, Market

#235 Finalize Customer Reviews in Landing
  src/components/landing/Banner.jsx
  src/components/landing/Review.jsx
Labels: Do Not Merge, Landing

#234 Finalize Stats in Banner
  src/components/landing/Banner.jsx
Labels: Ready for Review, Landing

#243 Removed 'Free Pickup' info-box under Add To Cart
  src/components/view/Description.jsx
Labels: Ready for Review, Frontend, View

#239 Add Tables
  package-lock.json
  package.json
  public/png/CommunityIcon.png
  src/components/profile/Dashboard.jsx
  src/components/profile/Data.jsx
  src/components/profile/Information.jsx
  src/components/profile/Input.jsx
  src/components/profile/Navigation.jsx
  src/components/profile/Profile.jsx
  src/components/profile/Row.jsx
  src/components/profile/Table.jsx
  src/components/profile/Toolbar.jsx
  src/data/Columns.js
  src/data/mock/Data.js
Labels: Ready for Review

#245 button styling for white + removed placehold bg and text
  src/components/landing/Works.jsx
  src/data/Button.js
Labels: Ready for Review, Landing, Frontend

#244 Added 9 questions/answers, need feedback/TODO
  src/data/Questions.js
Labels: Frontend, Info

#246 Optimize Navigation
  src/app/layout.js
  src/components/profile/Dashboard.jsx
  src/components/profile/Data.jsx
  src/components/profile/Navigation.jsx
  src/components/profile/Profile.jsx
  src/data/profile/Links.js
Labels: Navigation, Ready for Review, Profile

#249 Landing + Market Page UI Clean Up
  src/app/globals.css
  src/components/Button.jsx
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/Navigation.jsx
  src/components/landing/Banner.jsx
  src/components/landing/Gallery.jsx
  src/components/landing/Home.jsx
  src/components/landing/Landing.jsx
  src/components/landing/Review.jsx
  src/components/landing/Reviews.jsx
  src/components/landing/Values.jsx
  src/components/landing/Works.jsx
  src/components/market/Filters.jsx
  src/components/market/Item.jsx
  src/components/market/Items.jsx
  src/components/market/Market.jsx
  src/components/view/Images.jsx
  src/components/view/Item.jsx
  src/components/view/View.jsx
  src/data/Landing.js
  tailwind.config.js
Labels: Navigation, Footer, Ready for Review, Landing, Frontend, Market, View

#248 Empty Cart Fix
  src/components/cart/Cart.jsx
Labels: Ready for Review, Frontend, Cart

#252 change table pagination logic and UI
  src/components/profile/Dashboard.jsx
  src/components/profile/Table.jsx
  src/data/mock/Data.js
Labels: Profile
