Repository shahdivyank/r-parts, pull requests merged in 2024-01, with the labels that each got.

#153 Implement Banner and Cart/Checkout Total
  src/components/Button.jsx
  src/components/cart/Total.jsx
  src/components/home/Banner.jsx
  src/data/Button.js
  src/data/cart.js
  src/data/checkout.js
Labels: Ready for Review, Landing, Frontend, Cart

#154 initial commit for about/works.jsx
  src/components/about/Works.jsx
  tailwind.config.js
Labels: Do Not Merge, Frontend, About

#155 migrated backup/item into view/Item.jsx
  src/components/view/Description.jsx
  src/components/view/Images.jsx
  src/components/view/Item.jsx
Labels: Ready for Review, Frontend, View

#156 Implement Landing Page
  public/svg/arrow.svg
  public/svg/item.svg
  src/app/market/page.js
  src/app/page.js
  src/app/sell/page.js
  src/components/Button.jsx
  src/components/landing/Gallery.jsx
  src/components/landing/Landing.jsx
  src/data/Landing.js
Labels: Ready for Review, Landing, Frontend

#158 Created Error component
  src/app/error.js
  src/app/not-found.js
  src/components/Error.jsx
Labels: Frontend, Error Handling

#159 Add Reviews
  src/app/layout.js
  src/components/landing/Marquee.jsx
  src/components/landing/Review.jsx
  src/components/landing/Reviews.jsx
  src/components/landing/Stars.jsx
  tailwind.config.js
Labels: Ready for Review, Landing, Frontend

#163 Search Frontend
  src/app/sell/page.js
  src/components/sell/Search.jsx
Labels: Frontend, Sell

#162 Profile Nav
  src/components/profile/Navigation.jsx
  src/components/profile/Profile.jsx
Labels: Profile

#160 Product information
  src/components/view/Information.jsx
  src/components/view/View.jsx
Labels: Frontend, View

#164 Values Section
  public/png/Community.png
  public/png/CommunityIcon.png
  public/png/Growth.png
  public/png/Innovation.png
  public/png/Sustainability.png
  src/components/landing/Values.jsx
Labels: Landing, Frontend

#167 err extension
  src/utils/Fault.js
Labels: Ready for Review, Error Handling

#168 Cart Items
  public/svg/cartItem.svg
  src/components/cart/Item.jsx
  src/components/cart/Items.jsx
  src/components/view/View.jsx
Labels: Ready for Review, Frontend, Cart

#165 Item
  public/png/placeholder.png
  src/components/market/Item.jsx
  src/components/market/Items.jsx
Labels: Ready for Review, Frontend, Market

#161 View Item Fixes
  src/components/view/Description.jsx
  src/components/view/Images.jsx
  src/components/view/Item.jsx
Labels: Ready for Review, Frontend, View

#166 FAQ Dropdown
  src/app/info/page.js
  src/components/about/Faq.jsx
  src/components/info/Info.jsx
  src/data/Questions.js
Labels: Ready for Review, Frontend, About

#188 fix marquee spacing
  src/components/landing/Marquee.jsx
  src/components/landing/Review.jsx
Labels: Ready for Review

#184 Footer Width Fix
  src/components/Footer.jsx
Labels: Footer, Ready for Review, Frontend

#185 ensure functionality of image toggling"
  src/components/view/Images.jsx
  src/components/view/Item.jsx
  src/data/productImages.js
Labels: Ready for Review

#192 fix button
  src/components/Button.jsx
Labels: Ready for Review, Frontend

#186 product info spacing
  src/components/view/Information.jsx
  src/components/view/View.jsx
Labels: Ready for Review, Frontend, View

#187 link + hover
  src/components/landing/Values.jsx
Labels: Ready for Review, Landing, Frontend

#190 Create Navigation
  src/components/Footer.jsx
  src/components/Navigation.jsx
  tailwind.config.js
Labels: Navigation, Ready for Review

#189 Default Values for Product Information
  src/components/view/Information.jsx
  src/components/view/View.jsx
Labels: Ready for Review, Frontend, View

#191 Enable Logic on Filtering
  src/components/market/Filters.jsx
Labels: Ready for Review, Frontend, Market

#193 create tag
  src/components/Tag.jsx
  src/data/Tag.js
  tailwind.config.js
Labels: Ready for Review, Frontend

#198 icons changed
  src/components/landing/Values.jsx
Labels: Ready for Review

#200 button spaces, added 200 char limit on feedback
  src/components/Footer.jsx
  src/components/landing/Home.jsx
Labels: Ready for Review

#217 different icons
  src/components/landing/Values.jsx
Labels: Ready for Review

#199 faq bug
  src/components/info/Faq.jsx
Labels: Ready for Review

#212 red trash
  src/components/cart/Item.jsx
Labels: Ready for Review

#219 Add link to Work.jsx
  src/components/landing/Works.jsx
Labels: Ready for Review, Landing

#220 Added images to Works
  public/Works/iPhone12_bottomhalf.webp
  public/Works/iPhone12_tophalf.webp
  public/Works/iPhone12_topleft.webp
  src/components/landing/Works.jsx
Labels: Landing, Frontend

#231 added Amazon link hover behaviour to items in makert page. Hover over…
  src/components/market/Item.jsx
Labels: Market, Sell
